/* GENERAL */
body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #0F0F1B;
    color: white;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: #1C1C2E;
    border-bottom: 2px solid #9D00FF;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 70px;
}

.header h1 {
    color: #00F5FF;
    font-size: 1.8rem;
}

/* NAV */
.nav a {
    text-decoration: none;
    color: #9D00FF;
    margin-left: 2rem;
    font-size: 1rem;
    transition: 0.3s;
}

.nav a:hover {
    color: #00F5FF;
    text-shadow: 0 0 10px #00F5FF;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #0F0F1B, #1C1C2E);
}

.hero h2 {
    font-size: 2.5rem;
    color: #9D00FF;
    margin-bottom: 1rem;
}

.hero p {
    max-width: 600px;
    margin: 0 auto 2rem auto;
    font-size: 1.2rem;
}

/* BOTÓN NEÓN */
.btn {
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border: 2px solid #00F5FF;
    background: transparent;
    color: #00F5FF;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 30px;
}

.btn:hover {
    background: #00F5FF;
    color: #0F0F1B;
    box-shadow: 0 0 20px #00F5FF;
}

/* FEATURES */
.features {
    padding: 4rem 2rem;
    text-align: center;
}

.features h3 {
    font-size: 2rem;
    color: #00F5FF;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.card {
    background-color: #1C1C2E;
    padding: 2rem;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid #9D00FF;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #9D00FF;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #1C1C2E;
    border-top: 2px solid #9D00FF;
}